{
  "credentials": [
    {
      "credentialName": "shortcuts/customer-a",
      "domain": "DOMAINA",
      "user": "userA",
      "password": "CHANGEME"
    },
    {
      "credentialName": "shortcuts/customer-b",
      "domain": "DOMAINB",
      "user": "userB",
      "password": "CHANGEME"
    }
  ]
}
